<div class="m-b">
  <h2>Vacancy</h2>
  <ul>
    <li>{{ this.vacancy?.JobTitle }}</li>
    <li>{{ this.vacancy?.InternalTitle }}</li>
    <li>{{ this.vacancy?.Location }}</li>
    <li>{{ this.vacancy?.Salary }}</li>
    <li>{{ this.vacancy?.SalaryType }}</li>
  </ul>
</div>

<div class="m-b">
  <h2>Applicants</h2>
  <ul>
    <li>{{ this.firstName }}</li>
    <li>{{ this.lastName }}</li>
    <li>{{ this.gender }}</li>
  </ul>
</div>

<div>
  <h2 class="m-b">Apply for this vacancy</h2>
  <div class="m-b">
    <p>Choose an existing employee</p>
    <ng-select
      [items]="employees$ | async"
      bindLabel="FirstName"
      bindValue="Id"
      [clearable]="true"
    >
    </ng-select>
  </div>

  <div [formGroup]="form">
    <p>Add a new employee</p>
    <div class="m-b">
      <label>
        <div>
          <span class="input__title">First Name</span>
        </div>
        <input
          name="FirstName"
          formControlName="FirstName"
          placeholder="First Name"
        />
      </label>
    </div>
    <div class="m-b">
      <label>
        <div>
          <span class="input__title">Last Name</span>
        </div>
        <input
          name="LastName"
          formControlName="LastName"
          placeholder="Last Name"
        />
      </label>
    </div>
    <div class="m-b">
      <label>
        <div>
          <span class="input__title">Gender</span>
        </div>
        <input name="Gender" formControlName="Gender" placeholder="Gender" />
      </label>
    </div>
    <button (click)="addEmployee()">Apply</button>
  </div>
</div>
